<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Basement Renting</title>
    <link rel="shortcut icon" href="~/Content/Images/favicon.png">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/jquery-ui-1-12-1-custom/jquery-ui.css" rel="stylesheet" />
    <link href="~/fonts/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/fonts/material-design-iconic-font/css/material-design-iconic-font.css" rel="stylesheet" />
    <link href="~/fonts/theme-icon/iconimport.css" rel="stylesheet" />
    <link href="~/fonts/QuattrocentoSans/fontimport.css" rel="stylesheet" />
    <link href="~/Content/css/main.css" rel="stylesheet" />


    @*@Scripts.Render("~/bundles/jquery")*@
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script>
        /*---------- browser or divices get or body in  class add -----------------*/
        function css_browser_selector(u) { var ua = u.toLowerCase(), is = function (t) { return ua.indexOf(t) > -1 }, g = 'gecko', w = 'webkit', s = 'safari', o = 'opera', m = 'mobile', h = document.documentElement, b = [(!(/opera|webtv/i.test(ua)) && /msie\s(\d)/.test(ua)) ? ('ie ie' + RegExp.$1) : is('firefox/2') ? g + ' ff2' : is('firefox/3.5') ? g + ' ff3 ff3_5' : is('firefox/3.6') ? g + ' ff3 ff3_6' : is('firefox/3') ? g + ' ff3' : is('gecko/') ? g : is('opera') ? o + (/version\/(\d+)/.test(ua) ? ' ' + o + RegExp.$1 : (/opera(\s|\/)(\d+)/.test(ua) ? ' ' + o + RegExp.$2 : '')) : is('konqueror') ? 'konqueror' : is('blackberry') ? m + ' blackberry' : is('android') ? m + ' android' : is('chrome') ? w + ' chrome' : is('iron') ? w + ' iron' : is('applewebkit/') ? w + ' ' + s + (/version\/(\d+)/.test(ua) ? ' ' + s + RegExp.$1 : '') : is('mozilla/') ? g : '', is('j2me') ? m + ' j2me' : is('iphone') ? m + ' iphone' : is('ipod') ? m + ' ipod' : is('ipad') ? m + ' ipad' : is('mac') ? 'mac' : is('darwin') ? 'mac' : is('webtv') ? 'webtv' : is('win') ? 'win' + (is('windows nt 6.0') ? ' vista' : '') : is('freebsd') ? 'freebsd' : (is('x11') || is('linux')) ? 'linux' : '', 'js']; c = b.join(' '); h.className += ' ' + c; return c; }; css_browser_selector(navigator.userAgent);
    </script>
    <script src="~/Content/jQuery_Confirm/jquery-confirm.min.js"></script>
    <link href="~/Content/jQuery_Confirm/jquery-confirm.min.css" rel="stylesheet" />
    <script src="~/Content/jquery-ui-1-12-1-custom/jquery-ui.js"></script>
</head>

<body>
    <div class="page-wrapper-main">
        @{
            var userrole = Convert.ToString(Session["userrole"]);
        }

        @if (userrole == "Admin")
        {
            <header>
                @Html.Partial("~/Views/Admin/Shared/_Header.cshtml")
                @Html.Partial("~/Views/Admin/Shared/_Menubar.cshtml")
            </header>

            <div class="middlecontaint body-content">
                @RenderBody()
            </div>

            <footer>
                @Html.Partial("~/Views/Admin/Shared/_Footer.cshtml")
            </footer>
        }
        else if (userrole == "Landlord")
        {
            <header>
                @Html.Partial("~/Views/Landlord/Shared/_Header.cshtml")
                @Html.Partial("~/Views/Landlord/Shared/_Menubar.cshtml")
            </header>

            <div class="middlecontaint body-content">
                @RenderBody()
            </div>

            <footer>
                @Html.Partial("~/Views/Landlord/Shared/_Footer.cshtml")
            </footer>
        }
        else if (userrole == "Tenant")
        {
            <header>
                @Html.Partial("~/Views/Customer/Shared/_Header.cshtml")
                @Html.Partial("~/Views/Customer/Shared/_Menubar.cshtml")
            </header>

            <div class="middlecontaint body-content">
                @RenderBody()
            </div>

            <footer>
                @Html.Partial("~/Views/Customer/Shared/_Footer.cshtml")
            </footer>
        }
        else
        {
            <header>
                @Html.Partial("_Header")
                @Html.Partial("_Menubar")
            </header>

            <div class="middlecontaint body-content">
                @RenderBody()
            </div>

            <footer>
                @Html.Partial("_Footer")
            </footer>
        }
    </div>

    <script src="~/Scripts/bootstrap.js"></script>
    @RenderSection("scripts", required: false)
    <script>
        /*---------------------- minmum height set middle containt ------------------------------------*/
        $(window).bind("resize ready load", function (e) { minheightcontaint(); });
        function minheightcontaint() {
            var wheight = $(window).height();
            var hedheight = $('header').height();
            var fotheight = $('footer').height();
            var cphert1 = wheight - hedheight - fotheight;
            $('.middlecontaint').css({ "min-height": cphert1 });
        }
            /*-------------------------------*/
    </script>
</body>
</html>