@*@model List<EntityModel.DomainModel.Property>*@

<div class="email-property-manager">
    <div class="card">
        <div class="card-header">
            Email Property Manager
        </div>
        <div class="card-body">
            <div class="formdiv">
                <p>Required Fields marked with an asterisk are mandatory</p>
                <form>
                    <div class="form-group">
                        @Html.Label("Full Name", new { @class = "frm-label" })@*<required>*</required>*@
                        @Html.TextBox("txtFullName", null, new { @class = "form-control", @placeholder = "Enter Your Name" })
                        @*@Html.Editor("txtFullName", new { @class = "form-control", @placeholder = "Enter Your Name" })*@
                    </div>
                    <div class="form-group">
                        @Html.Label("Email", new { @class = "frm-label" })<required>*</required>
                        @Html.TextBox("txtEmail", null, new { @class = "form-control", @placeholder = "Enter Your Email" })
                        @*@Html.Editor("txtEmail", new { @class = "form-control", @placeholder = "Enter Your Email" })*@
                        <span class="propertyinquiry-email-error" style="color:red;"></span>
                    </div>
                    <div class="form-group">
                        @Html.Label("Phone", new { @class = "frm-label" })
                        @Html.TextBox("txtPhone", null, new { @maxlength = "10", @class = "form-control", @placeholder = "Enter Your Phone Number" })
                        @*@Html.Editor("txtPhone", new { @class = "form-control", @placeholder = "Enter Your Phone Number" })*@
                    </div>
                    <div class="form-group">
                        @Html.Label("Message", new { @class = "frm-label" }) <required>*</required>
                        @Html.TextArea("txtMessage", new { @class = "form-control" })
                    </div>
                    <div class="form-group btn-prn">
                        <button type="button" id="btnSendMail" class="btn btn-twoblue"><i class="fa fa-paper-plane-o" aria-hidden="true"></i> Send Email</button>
                        <button type="reset" class="reset-form btn btn-twogray" style="display:none;">Reset</button>
                    </div>
                    <div class="waiting-loader-wrraper fill"><img src="~/Content/Images/customloader---white.gif" class="waiting-loader" /></div>
                </form>

            </div>
        </div>
    </div>
</div>
<div class="container">
    <!-- Trigger the modal with a button -->
    <button type="button" class="btn btn-info btn-lg email-success-openmodel" style="display:none;" data-toggle="modal" data-target="#myModal">Open Modal</button>

    <!-- Modal -->
    <div class="modal in fade email_succe_modal" id="myModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-dialog-inner">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close email-success-closemodel" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title"></h4>
                    </div>
                    <div class="modal-body">
                        <p class="message-content"></p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#txtPhone").keypress(function (e) {
            //if the letter is not digit then display error and don't type anything
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57) /*&& String.fromCharCode(e.which) != '-'*/) {
                //display error message
                //$("#errmsg").html("Digits Only").show().fadeOut("slow");
                return false;
            }
        });

        $("#btnSendMail").click(function () {
            $("#txtEmail").css("border-color", "");
            $("#txtMessage").css("border-color", "");
            $(".propertyinquiry-email-error").hide();
            var GoToAjax = true;

            //if ($("#txtFullName").val() === "") {
            //    $("#txtFullName").css("border-color", "red");
            //    GoToAjax = false;
            //}

            if ($("#txtEmail").val() === "") {
                $("#txtEmail").css("border-color", "red");
                GoToAjax = false;
            }

            if (validateEmailId($("#txtEmail").val()) == false) {
                $("#txtEmail").css("border-color", "red");

                $(".propertyinquiry-email-error").show();
                $(".propertyinquiry-email-error").html("Please enter valid email");

                GoToAjax = false;
            }

            if ($("#txtMessage").val() === "") {
                $("#txtMessage").css("border-color", "red");
                GoToAjax = false;
            }

            if (GoToAjax == true) {
                $(".waiting-loader-wrraper, .waiting-loader").show();

                $.ajax({
                    url: "@Url.Action("user-to-landlord-email", "Property")",
                    type: "POST",
                    data: { 'PropertyTitle': $("#PropertyTitle").html(), 'LandlordEmailId': $("#OwnerEmailId").val(), 'FullName': $("#txtFullName").val(), 'CustomerEmail': $("#txtEmail").val(), 'CustomerPhone': $("#txtPhone").val(), 'Message': $("#txtMessage").val() },
                    success: function (data) {
                        if (data == 'True') {
                            $(".reset-form").click();
                            $(".modal-title").html("Success");
                            $(".modal-body .message-content").html("Mail has been sent successfully.");
                        }
                        else {
                            $(".modal-title").html("Failed");
                            $(".modal-body .message-content").html("Something went wrong! Please try again after sometime...");
                        }

                        $(".email-success-openmodel").click();
                        setTimeout(function () {
                            $(".email-success-closemodel").click();
                        }, 3000);

                        $(".waiting-loader-wrraper,.waiting-loader").hide();
                    },
                    error: function () {
                        console.log("Error Occured!");
                    }
                });//end - ajax call
            }


        });
    }); //end of doc. ready

    function validateEmailId(emailId) {
        var x = emailId; //$("#txtEmailReg").val();
        var atpos = x.indexOf("@@");
        var dotpos = x.lastIndexOf(".");
        if (atpos < 1 || dotpos < atpos + 2 || dotpos + 2 >= x.length) {
            //alert("Invalid E-mail address");
            return false;
        }
        else {
            return true;
        }
    }
</script>